/* css reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general style */

:root {
  --bg-color: #f7f7f8;
  --text-color: #1a152f;
  --cabaret-color: #d4447c;
  --heading-color: #c480bc;
  --label-color: hsl(0, 0%, 50%);

  /*------------font-family----------- */
  --font-cinzel: "Cinzel", serif;
  /* (400, 500, 700) */
  --font-roboto: "Roboto Slab", serif;
  /* (200, 400) */
  --font-josefin-slab: "Josefin Slab", serif;
  /* (200, 400, 600) */
}

body {
  /* background-color: var(--bg-color); */
}

header {
  width: 100%;
  background-color: var(--text-color);
}
.wrapper {
  width: max(20rem, calc(100% - 30vw));
  height: fit-content;
  padding: 0.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: clamp(2.5rem, 8vw, 6rem);
}

.wrapper ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 3vw;
  font-size: clamp(1.3rem, 3vw, 2.2rem);
  color: var(--cabaret-color);
}

.container {
  width: min(calc(100% - 10vw), 1200px);
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: min(1.5vw, 1.5rem) 0;
  gap: 1.5vw;
  border-bottom: 3px solid #eee;
}

.hero-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.hero-upper > span {
  font-size: 2.4rem;
  color: var(--heading-color);
}

h1 {
  font-family: var(--font-cinzel);
  color: var(--heading-color);
  font-weight: 700;
  font-size: clamp(1.4rem, 3vw, 2.2rem);
  margin: 0 auto;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0.5rem;
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-roboto);
  font-weight: 200;
  color: var(--text-color);
  font-size: 1rem;

  position: relative;
}

.searchbar > input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 0.3rem;
}

.searchbar > input::-webkit-search-cancel-button {
  appearance: none;
  height: 10px;
  width: 10px;
  background: url(logo/close.svg) no-repeat center center;
  cursor: pointer;
}

.searchbar > input::placeholder {
  color: var(--text-color);
}

.searchbar > input:focus::placeholder {
  color: transparent;
}

.searchbar span:last-of-type {
  position: absolute;
  left: 30px;
  visibility: hidden;
}

.searchbar > input:focus + span {
  transform: translate(0, -15px);
  transition: 0.2s ease all;
  text-transform: uppercase;
  font-size: 70%;
  visibility: visible;
}

.menu {
  width: 100%;
}
.menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.menu ul a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--font-cinzel);
  font-weight: 300;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
}

.menu ul a:hover {
  border-bottom: 3px solid var(--cabaret-color);
}

/* media query below*/

@media only screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }

  .menu {
    display: none;
  }

  .hero-upper > span {
    display: none;
  }

  .searchbar {
    display: none;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: min(2vw, 2rem) 0;
  }
  h1 + div {
    display: none;
  }
}

/* form section below */

form {
  width: clamp(400px, 70vw, 45rem);
  margin: 0 auto;
  padding: 0 min(4rem, 5vw);
  margin-top: min(2vw, 1rem);
}

h3 {
  font-family: var(--font-josefin-slab);
  color: var(--heading-color);
  font-size: clamp(1.1rem, 2vw, 1.6rem);
  margin-bottom: min(2vw, 1rem);
}

.input-group,
.input-checkbox {
  position: relative;
  margin-bottom: clamp(20px, 2.5vw, 30px);
}

.input-group input:not(input[type="checkbox"]) {
  width: 100%;
}

.input-checkbox ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--text-color);
  gap: 5px 20px;
}

.input-checkbox > ul > li > label {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.input-checkbox > ul > li > label > input {
  flex-shrink: 0;
  margin-right: 5px;
}

.input-checkbox ul input {
  appearance: none;
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: var(--cabaret-color);
  border-radius: 50%;
  vertical-align: -4px;
  transition: all 0.3s cubic-bezier(0.18, 1.85, 1, 1.07);
}

.input-checkbox ul input::before {
  content: "✔";
  position: absolute;
  font-size: 1rem;
  color: var(--bg-color);
  top: -4px;
  left: 1px;
  visibility: hidden;
}
.input-checkbox ul input:checked::before {
  visibility: visible;
}

.input-group > input {
  border: none;
  outline: none;
  background-color: var(--bg-color);
  padding: 0.6rem;
  display: inline-block;
  border-radius: 4px;
}

.input-group > label {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  transform: translate(4px, 10px);
  color: var(--label-color);
  font-family: var(--font-josefin-slab);
  font-weight: 600;
  padding: 0 0.3rem;
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.06, 0.4, 0.55, 1.25);
}

.input-group > .label.labelUp {
  transform: translateY(-10px);
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 4px;
  font-weight: 600;
}

.label::after {
  content: " *";
}

.errorMsg {
  position: absolute;
  pointer-events: none;
  transform: translate(0px, -10px);
  font-family: var(--font-josefin-slab);
  font-weight: 600;
  color: red;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 0 0.3rem;
  border-radius: 4px;
  background-color: var(--bg-color);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.06, 0.4, 0.55, 1.25);
}

.errorMsg.unfocus {
  transform: translate(4px, 10px);
  background-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
}
.input-group.meter {
  position: relative;
  display: none;
  margin-top: -25px;
}
.input-group > meter {
  width: 50%;
  height: 12px;
}

.input-group.meter label {
  font-size: 0.8rem;
  font-family: var(--font-roboto);
  color: var(--text-color);

  margin-top: -5px;
  font-weight: 400;
}

.input-group .terms-of-service {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--label-color);
}

.terms-of-service a {
  color: var(--label-color);
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
}

.input-group button {
  background-color: var(--cabaret-color);
  border: none;
  color: var(--bg-color);
  font-family: var(--font-josefin-slab);
  font-weight: 600;
  border-radius: 5px;
  display: block;
  width: 40%;

  padding: min(1vw, 0.3rem);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  cursor: pointer;
}

.input-group button:hover {
  filter: brightness(110%);
}

.input-group .sign-in {
  font-family: var(--font-roboto);
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 1px;
}

.input-group .sign-in a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
}
